# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/tfplan
terraform/terraform.tfvars

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.egg-info/
.venv/
venv/

# Data
*.parquet
*.csv
*.feather

# OS
.DS_Store
